[Unit]
Description=DDE DConfig Center Daemon

[Service]
Type=dbus
BusName=org.desktopspec.ConfigManager
ExecStart=/usr/bin/dde-dconfig-daemon
Restart=always
RestartSec=5
OOMScoreAdjust=-250
